@model List<HotelWebUI.Dtos.SpecialPriceDtos.SpecialPriceDto>

@{
    ViewData["Title"] = "Özel Fiyatlar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container mt-4">
    <h2>İleri Tarihli Özel Fiyatlar</h2>
    <a href="/SpecialPrice/Create" class="btn btn-primary mb-3">Yeni Özel Fiyat Ekle</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Oda Tipi</th>
                <th>Fiyat (₺)</th>
                <th>Başlangıç</th>
                <th>Bitiş</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoomTypeName</td>
                    <td>@item.SpecialPrice</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td> <a href="/SpecialPrice/Delete/@item.SpecialPriceId"> Delete </a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
