
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Support</h1>

Bizimle iletişime geçmek için lütfen aşağıdaki bilgileri kullanın:
telefon numarası, e-posta adresi veya sosyal medya hesapları gibi iletişim bilgileri.
0533232232 m.ziz.aciker@gmail.com Falan filan 

