
@{
    ViewData["Title"] = "NoAvailableRooms";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
<h3>@ViewBag.Message</h3>
<p>İletişime geçmek için <a href="/Contact">iletişim formunu</a> kullanabilirsiniz.</p>
