
@{
    ViewData["Title"] = "NoAvailableRooms";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
<div class="container text-center " style="height:500px  ">

    <h2>@ViewBag.Message</h2>
    <p>İletişime geçmek için <a href="/Contact">iletişim formunu</a> kullanabilirsiniz.</p>
</div>
 
