
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
<h2>Teşekkürler!</h2>
<p>Rezervasyonunuz başarıyla alındı. En kısa sürede sizinle iletişime geçeceğiz.</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>