
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
<div class="container mt-4">

    <h2>Teşekkürler!</h2>
    <p>Rezervasyonunuz başarıyla alındı. En kısa sürede sizinle iletişime geçeceğiz.</p>

    <a class="btn btn-primary" asp-controller="UserHome" asp-action="Index">Ana Sayfaya Dön</a>
</div>
 
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />