<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand" style="min-height:110px">
        <a href="./index.html" class="brand-link">
            <img style="border-radius:54%;min-width:100px;min-height:100px"
                 src="~/Fotograflar/logo2.png"  
                 alt="AdminLTE Logo"
                 class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">Hotel İstiklal</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">
                
                <li class="nav-item">
                    <a href="/About/Index/" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Hakkımda Sayfası</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Comment/Index/" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Yorumlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/About/Index/" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Ana Sayfa</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/HotelServ/Index" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Otel Hizmetleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Odalar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Odalar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Rezervasyonlar</p>
                    </a>
                </li> 
                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Kullanıcı İşlemleri</p>
                    </a>
                </li> 

                <li class="nav-item">
                    <a href="./generate/theme.html" class="nav-link">
                        <i class="nav-icon bi bi-palette"></i>
                        <p>Çıkış</p>
                    </a>
                </li> 



            </ul>
        </nav>
    </div>
</aside>